:root {
    --black: #000000;
    --gray-400: #eaeaea;
    --gray-500: #878787;
    --gray-600: #555555;
    --gray-800: #2e2e2e;
    --white: #ffffff;

    --purple-500: #222fe6;
    --yellow-500: #ffb116;
    --orange-500: #f03612;
    --pink-500: #9e71d8;
    --blue-500: #2181ce;
    --blue-700: #00376a;

    --shadow-b: 0px 15px 15px -4px #000000;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

button {
    cursor: pointer;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
    transition: filter 0.5s ease-in-out;
}

a:hover {
    filter: brightness(1.1) contrast(1.2);
}

p {
    line-height: 1.5rem;
}

img {
    width: 100%;
}

nav {
    background-color: var(--white);
    height: 70px;
    padding: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    max-width: 200px;
}

.wpp-container {
    height: 30px;
    font-size: 0.8rem;

    display: grid;
    align-items: center;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "icon1 span1"
    "icon1 span2";
    gap: 0 5px;
}

.wpp-container img {
    grid-area: icon1;
}

.wpp-container span:nth-child(1) {
    grid-area: span1;
}

.wpp-container span:nth-child(2) {
    grid-area: span2;
    font-weight: 700;
}

footer {
    color: var(--white);
    background-color: var(--blue-700);
    padding: 3rem;

    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    gap: 2rem;
}

footer img {
    display: inline-block;
    width: 1rem;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(138deg) brightness(102%) contrast(101%);

    position: relative;
    top: 2px;
}

footer ul {
    list-style: none;
    font-weight: 600;
}

footer ul li + li,
footer > div p + p {
    margin-top: 0.5rem;
}

footer > div {
    text-align: right;
}

@media (min-width: 1440px) {
    html {
        font-size: 118, 8%;
    }
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}