main .globoplay .card {
    text-align: center;  
    max-width: 400px;
    padding: 1rem 3rem;
}

.globoplay h2 {
    grid-area: title;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.globoplay .card img {
    max-width: 150px;

    position: relative;
    top: -10px;
}

.globoplay .card > span {
    font-size: 0.8rem;

    position: relative;
    top: -10px;
}

.globoplay .card h3 {
    font-size: 1.5rem;
}

.globoplay .card p span {
    text-transform: uppercase;
}

.sign, .globoplay {
    color: var(--white);
    background-color: var(--blue-700);
    padding: 3rem 2rem 5rem 2rem;

    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
    "title title"
    "card1 card2";
    gap:  0 3rem;
}

.sign h1 {
    grid-area: title;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;   
}

.sign h1 span {
    font-weight: 700;
}

.sign .container,
.globoplay .card {
    grid-area: card1;
    justify-self: flex-end;

    width: 100%;
    max-width: 500px;
}

.sign .container:last-child,
.globoplay .card:last-child {
    grid-area: card2;
    justify-self: flex-start;
}

.sign .container:last-child .card,
.globoplay .card:last-child  {
    color: var(--black);
    background-color: var(--white);
}

.sign .container:last-child .card .options img {
    filter: none;
}

.sign .container:last-child .details {
    border-color: var(--white);
}

.sign .card,
.globoplay .card {
    height: 100%;
    border-radius: 10px;
    background-color: var(--purple-500); 
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem 0;

    -webkit-box-shadow: var(--shadow-b); 
    box-shadow: var(--shadow-b);
}

.sign .card h2 {
    font-size: 3rem;
}

.sign .card > div span span,
.globoplay .card > div span span,
.sale .card > div span span {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0 5px;
}

.sign .card > span {
    font-style: italic;
    font-size: 0.7rem;
    margin-top: -1rem;
}

.sign .card .options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.sign .card .options :first-child {
    background: transparent;
    border: none;
    transform: rotate(0deg);

    transition: transform 0.3s;
}

.sign .card .options img {
    width: 30px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.sign .card a,
.sign .card button,
.sign .details a,
.globoplay a {
    width: fit-content;
    color: var(--black);
    background-color: var(--yellow-500);
    border: none;
    border-radius: 10px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem;
}

.sign .details {
    display: none;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 2rem;
    border: 3px solid var(--purple-500);
    border-top: none;

    transition: transform 0.5s ease-in-out;
}

.sign .details > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    position: relative;
}

.sign .details > div img {
    width: 50px;

    position: absolute;
    top: 0;
    right: 0;
}

.sign .details > div p {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1rem;
}

.sign .details > div p span {
    display: inline-block; 
    font-size: 0.8rem; 
    font-weight: normal; 
    width: 100%; 
    text-align: right;
    font-style: italic;
}

.sign .details > div span span {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0 5px;
}

.sign .details > div div {
    position: relative; 
    top: -1rem; 
    font-size: 0.7rem;
}

.sign .details hr {
    margin: 2rem 0;
}

.sign #printed-details,
.sign #digital-details {
    overflow: hidden;
}

.sign .overflow-container {
    overflow: hidden;
}

.sign .container.active .details {
    display: block;
    transform: translateY(0%);
}

.sign .container.active .options button:first-child {
    transform: rotate(-180deg);
}

.sale {
    padding: 3rem 2rem;
    background-color: var(--gray-400);

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 1rem;
}

.sale div:first-child {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.sale div:first-child h2 {
    font-size: 3rem;
}

.sale div:first-child span {
    font-size: 1.1rem;
    max-width: 300px;
}

.sale .card {
    height: 100%;
    min-width: 320px;
    min-height: 400px;
    border-radius: 10px;
    background-color: var(--purple-500); 
    color: var(--white);
    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.sale .card:last-child {
    color: var(--black);
    background-color: var(--white);
}

.sale .card h2 {
    text-align: center;
    font-size: 2rem;
}

.sale .card h2 span {
    display: inline-block;
    width: 100%;
    font-size: 3rem;
    font-weight: 700;
}

.sale .card > span {
    margin-top: -1rem;
}

.sale .card ul {
    list-style-image: url('../img/check.svg');
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.sale .card ul li + li{
    margin-top: 0.5rem;
}

.sale .card a {
    width: fit-content;
    color: var(--black);
    background-color: var(--yellow-500);
    border: none;
    border-radius: 10px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem;
}

.benefits {
    background-color: var(--blue-700);
    color: var(--white);
    padding-top: 5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.benefits .side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.benefits .side:first-child > div {
    height: 50%;
}

.benefits .side:first-child > div > span {
    font-size: 8rem;
    line-height: 8rem;
    font-weight: 900;

    display: flex;
    align-items: center;''
    gap: 0.5rem;
}

.benefits .side:first-child > div > span > span {
    font-size: 2rem;
}

.benefits .side:first-child > div > p {
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-align: center
}

.benefits .side:first-child  img {
    transform: translate(-35%, 1px);
    width: 60%;
    max-height: 400px;
}

.benefits .side:last-child {
    align-items: flex-end;
}

.benefits .side:last-child > div {
    width: 80%;
    background-color: var(--white);
    color: var(--black);
    padding: 2rem;
    border-radius: 10px 0 0 10px;
}

.benefits .side:last-child > div > div {
    max-width: 360px;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 1rem;

    position: relative;
    left: -70px;
}

.benefits .side:last-child > div > div + div {
    margin-top: 2rem;
}

.benefits .side:last-child > div > div img {
    width: 80px;
    height: 80px;
    padding: 0.9rem;
    border-radius: 10px;
    background-color: var(--purple-500);
    image-rendering: pixelated;
}

.club {
    color: var(--white);
    padding: 1rem 0 0 1rem;
    background-image: url('../img/map.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-columns: 70% 30%;

    position: relative;
}

.club img {
    grid-column: 1;

    width: 45%;
}

.club > span {
    grid-column: 1;

    display: block;
    max-width: 350px;
    font-weight: 700;
    text-align: center;
    padding: 30px;
    z-index: 1;

    position: absolute;
    left: 30%;
    top: 100px;
    transform: scale(1.2);
}

.club > span:before {
    content: "";    
    width: 100%;
    height: 100%;
    z-index: -1;

    position: absolute;
    top: 10px;
    left: -10px;

    background-image: url('../img/balloon.png');
    background-size: contain;
    background-repeat: no-repeat;

    transform: scaleX(-1);
}

.club div {
    grid-column: 2;

    height: fit-content;
    min-width: 350px;
    padding: 1rem 2rem;
    border-radius: 999px 0 0 999px;
    background-color: var(--pink-500);

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    bottom: 5%;
    right: 0px;
}

.club div span:first-child {
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.club div span:last-child {
    font-size: 5rem;
    font-weight: 700;
    line-height: 4.5rem;
}

.partners {
    background-color: var(--pink-500);
    color: var(--white);
    padding: 3rem 2rem;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.partners > img {
    padding: 3rem;
}

.partners > div h2 {
    font-size: 5rem;
    font-weight: 900;
}

.partners > div span {
    font-size: 1.5rem;
}

.partners > div > div {
    margin-top: 3rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
}

.partners > div img {
    width: 10%;
}

.events {
    background-color: var(--pink-500);
    color: var(--white);
    padding: 2rem 0 0 2rem;
    min-height: 500px;

    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    align-items: center;
    gap: 2rem;
}

.events > img {
    max-width: 300px;

    justify-self: flex-end;
}

.events .list {
    display: flex;
    gap: 1rem;
}

.events .list img {
    max-width: 100px;
}

.events .list ul {
    margin: 0 1rem;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    list-style: none;
}

.events .list ul li + li {
    margin-top: 1rem;
}

.events .musician {
    height: 100%;
    overflow: hidden;
    
    position: relative;
}

.events .musician img {
    position: absolute;
}

.events .musician #man {
    margin-bottom: -6rem;

    position: relative;
}

.events .musician #background {
    margin: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.events .musician #notes {
    max-width: 8rem;
    transform: rotate(20deg);

    left: 0;
    bottom: 40%;
}

.events .musician #tickets {
    max-width: 15rem;

    right: -3rem;
    bottom: 0;
}

.video {
    width: 100%;
    margin-bottom: -4px;
}

.video iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
}

@media screen and (max-width: 1080px) {
    .sign,
    .globoplay {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "title"
            "card1"
            "card2";
        gap: 2rem;
    }

    .sign .container,
    .sign .container:last-child,
    .globoplay .card,
    .globoplay .card:last-child {
        justify-self: center;
    }

    .sale {
        grid-template-columns: 1fr;
        grid-template-rows: 200px repeat(2, 1fr);
        gap: 2rem;
    }

    main .globoplay .card,
    .sale .card {
        width: 100%;
        max-width: 500px;
    }

    .benefits .side:last-child {
        order: -1;
    }

    .benefits,
    .club {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .club div {
        order: -2;
        grid-column: 1;

        width: 300px;
        border-radius: 999px;
        transform: scale(0.9);
        justify-self: center;

        position: static;
    }

    .club > span {
        order: -1;
        justify-self: center;

        transform: scale(0.9);

        position: static;
    }

    .events {
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
    }

    .events .list ul {
        width: 100%;
    }

    .events .musician {
        display: none;
    }
}

@media (max-width: 720px) {
    .club > span:before {
        background-image: url('../img/balloon-no-arrow.png');
    }

    .club img {
        justify-self: center;
    }

    .sale .card,
    .club div {
        min-width: 0;
    }

    .partners,
    .events {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .partners > img {
        max-width: 300px;
    }

    .partners > div h2 {
        font-size: 4rem;
    }

    .partners > div img {
        width: 20%;
    }

    .events > img {
        justify-self: center;
        max-width: 240px;
    }

    .events .list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .events .list img {
        max-width: 70px;
    }
}
